@font-face {
    font-family: 'GilbeotRainbow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/GilbeotRainbow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: 'GilbeotRainbow', serif;
    background-color: #EFE7E3;
    font-size: 10px;
}

.navigator {
    position: fixed;
    top: 0;
    width: 90%;
    padding: 5rem;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
}

.site {
    font-size: 30px;
    margin: 0;
    color: #c0a192;
}

#page {
    position: relative;
    height: 100%;
}

.fullsection {
    height: 100%;
    position: relative; 
}

.full1 {
    background: red;
}

.full2 {
    background: yellow;
}

.full3 {
    background: green;
}

.full4 {
    background: blue;
}

.full5 {
    background: purple;
}

#page span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 4em;
    font-weight: bold;
}

ul,
li {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
}

.quick {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100000;
}

.quick li {
    width: 10px;
    height: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 2px solid #fff;
    cursor: pointer;
}

.quick .on {
    background: #fff;
}

#imgWrap {
    width: 50%;
    height: 500px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 2000;
    cursor: pointer;
}

.face {
    display: block;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    height: 100%;
    color: white;
    line-height: 200px;
    text-align: center;
    backface-visibility: hidden;
    transition: all 1s;
}

.front {
    position: relative;
    background: blue;
    z-index: 2;
    opacity: 1;
    transform: rotateY(0deg);
}

.back {
    background: green;
    z-index: 1;
    opacity: 0;
    transform: rotateY(180deg);
}

#imgWrap:hover>.front {
    z-index: 1;
    opacity: 0;
    transform: rotateY(180deg);
}

#imgWrap:hover>.back {
    z-index: 2;
    opacity: 1;
    transform: rotateY(0);
}

img{
    display: block;
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
}