.container{
    display: flex;
    flex-flow: row wrap;
    background-color: skyblue;

    justify-content: space-around;
}

.item{
    width: 200px;
    height: 50px;
    background-color: pink;
    border: 1px solid black;
}