@font-face {
    font-family: 'GilbeotRainbow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/GilbeotRainbow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: 'GilbeotRainbow', serif;
    background-color: #EFE7E3;
    font-size: 14px;
}

#navigator {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    margin-top: 40px;
}

#navigator.down{
    background-color: #000000 !important;
    transition: background-color 0.5s linear;
}

.site {
    display: inline;
    font-size: 30px;
    margin-left: 50px;
    color: #f1f1f1;
    cursor: pointer;
}

.rightMenu{
    float: right;
    margin-right: 50px;
}

.rightMenu span{
    display: inline-block;
    position: relative;
    margin-right: 10px;
    font-size: 20px;
    font-style: italic;
    text-transform: uppercase;
    cursor: pointer;
}

.rightMenu span::after{
    display: block;
    content: '';
    width: 100%;
    height: 5px;
    border-radius: 20%;
    transform: translateY(-70%) scaleX(0);
    transition: transform 0.5s ease-in-out;
    background-color: rgb(187, 143, 236);
}

.rightMenu span:hover::after{
    transform: translateY(-70%) scaleX(1);
}

#page {
    position: relative;
    height: 100%;
}

.fullsection {
    height: 100%;
    position: relative;
}

.full1 {
    background: rgba(197, 210, 247, 0.521);
}

.full1 span {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    /* background: #2980b9; */
    padding: 0 20px;
    height: 100px;
    overflow: hidden;
}

.full1 .line {
    text-transform: uppercase;
    text-align: center;
    font-size: 80px;
    line-height: 100px;
}

.full1 .line:first-child {
    animation: slideAnim 10s infinite;
}

@keyframes slideAnim {
    0% {
        margin-top: 0;
    }

    16% {
        margin-top: -100px;
    }

    33% {
        margin-top: -200px;
    }

    50% {
        margin-top: -300px;
    }

    66% {
        margin-top: -200px;
    }

    82% {
        margin-top: -100px;
    }

    100% {
        margin-top: 0;
    }
}

.full2 {
    background: rgb(145, 255, 246);
}

.full2 span {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
    line-height: 100px;
    font-size: 70px;
    color: rgba(66, 69, 85, 0.808);
}

.full2 .box {
    width: 400px;
    height: 70px;
    /* background-color: aqua; */
    display: inline-block;
    overflow: hidden;
}

.full2 .b1{
    transform: translateX(-20%);
}

.full2 .b2{
    transform: translateX(-40%);
}

.full2 .b4{
    transform: translateX(20%);
}

.full2 .letter {
    position: relative;
    left: -400px;
    transition: all 0.7s linear;
}

.full2 .l1{
    left: -100px;
    transition: all 0.5s linear;
}

.full2 .l2{
    left: -200px;
    transition: all 0.8s linear;
}

.full2 .l3{
    left: -500px;
    transition: all 1s linear;
}

.full3 {
    background: rgb(196, 247, 196);
}

.full3 span {
    position: absolute;
    display: block;
    top: 20%;
    left: 40%;
    font-size: 50px;
}

img {
    position: relative;
    display: flexbox;
    top: 25%;
    left: 15%;
    width: 30%;
    margin: 30px;
}

img:hover {
    box-shadow: 0px 0px 30px #000000;
    transform: scale(1.2);
    transition: 0.2s;
}

.full4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(173, 204, 233);
}

.full4 span {
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

.full4 h2{
    position: absolute;
    transform: translate(0%,-50%);
    font-size: 20em;
}

.full4 h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}

.full4 h2:nth-child(2){
    color: #03a9f4;
    animation: animateWater 5s ease-in-out infinite;
}

@keyframes animateWater{
    0%,100%{
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50%{
        clip-path: polygon(0 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}

.full5 {
    background: rgb(104, 101, 100);
}


#cardBox {
    position: relative;
    cursor: pointer;
    height: 500px;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    perspective: 2000px;
}

.card {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: 1s ease-in-out;
    transform-style: preserve-3d;
    text-align: center;
    font-size: 50px;
    line-height: 150px;
}

#cardBox:hover .card{
    transform: rotateY(180deg);
}

.side {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.front{
    background: rgb(188, 188, 248);
    
}

.back {
    background: #eaeaed;
    color: #0087cc;
    transform: rotateY(180deg);
}

.quick ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.quick {
    position: fixed;
    right: 20px;
    top: 44%;
    z-index: 100000;
}

.quick li {
    width: 10px;
    height: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 2px solid #fff;
    cursor: pointer;
}

.quick .on {
    background: #fff;
}

/* 모바일 */
@media (max-width: 767px) {

    #navigator {
        margin-top: 50px;
    }

    .rightMenu{
        display: none;
    }

    .full1 span {
        font-size: 36px;
    }

    .full2 span {
        font-size: 50px;
        transform: translate(-20%, -50%);
    }

    .full3 span {
        font-size: 40px;
    }

    img {
        margin: 20px;
    }

    .full4 span {
        font-size: 40px;
    }

    #cardBox {
        width: 60%;
        height: 350px;
    }
}
