@font-face {
    font-family: 'GilbeotRainbow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/GilbeotRainbow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: 'GilbeotRainbow', serif;
    background-color: #EFE7E3;
    font-size: 14px;
}

.navigator {
    position: fixed;
    top: 0;
    padding: 5rem;
    z-index: 2;
}

.site {
    font-size: 30px;
    margin: 0;
    color: #f1f1f1;
}


#page {
    position: relative;
    height: 100%;
}

.fullsection {
    height: 100%;
    position: relative;
}

.full1 {
    background: rgba(197, 210, 247, 0.521);
}

.full1 span {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    /* background: #2980b9; */
    padding: 0 20px;
    height: 100px;
    overflow: hidden;
}

.full1 .line {
    text-transform: uppercase;
    text-align: center;
    font-size: 80px;
    line-height: 100px;
}

.full1 .line:first-child {
    animation: slideAnim 10s infinite;
}

@keyframes slideAnim {
    0% {
        margin-top: 0;
    }

    16% {
        margin-top: -100px;
    }

    33% {
        margin-top: -200px;
    }

    50% {
        margin-top: -300px;
    }

    66% {
        margin-top: -200px;
    }

    82% {
        margin-top: -100px;
    }

    100% {
        margin-top: 0;
    }
}

.full2 {
    background: rgb(214, 165, 247);
}

.full2 span {
    position: absolute;
    display: block;
    top: 25%;
    left: 10%;
    font-size: 50px;
}

.full3 {
    background: rgb(196, 247, 196);
}

.full3 span {
    position: absolute;
    display: block;
    top: 20%;
    left: 40%;
    font-size: 50px;
}

img {
    position: relative;
    display: flexbox;
    top: 25%;
    left: 15%;
    width: 30%;
    margin: 30px;
}

img:hover {
    box-shadow: 0px 0px 30px #000000;
    transform: scale(1.2);
    transition: 0.2s;
}

.full4 {
    background: rgb(173, 204, 233);
}

.full4 span {
    position: absolute;
    display: block;
    top: 20%;
    left: 10%;
    font-size: 50px;
}

.full5 {
    background: rgb(104, 101, 100);
}

.quick ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.quick {
    position: fixed;
    right: 20px;
    top: 44%;
    z-index: 100000;
}

.quick li {
    width: 10px;
    height: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 2px solid #fff;
    cursor: pointer;
}

.quick .on {
    background: #fff;
}

#imgWrap {
    width: 50%;
    height: 500px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 2000;
    cursor: pointer;
}

.face {
    display: block;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    color: white;
    line-height: 300px;
    font-size: 50px;
    text-align: center;
    backface-visibility: hidden;
    transition: all 1.2s;
}

.front {
    position: relative;
    background: black;
    z-index: 2;
    opacity: 1;
    transform: rotateY(0deg);
}

.back {
    background: wheat;
    z-index: 1;
    opacity: 0;
    transform: rotateY(180deg);
}

#imgWrap:hover>.front {
    z-index: 1;
    opacity: 0;
    transform: rotateY(180deg);
}

#imgWrap:hover>.back {
    z-index: 2;
    opacity: 1;
    transform: rotateY(0);
}

/* 모바일 */
@media (max-width: 767px) {

    .navigator {
        padding: 3rem;
    }

    .full1 span {
        font-size: 36px;
    }

    .full2 span {
        font-size: 40px;
    }

    .full3 span {
        font-size: 40px;
    }

    img {
        margin: 20px;
    }

    .full4 span {
        font-size: 40px;
    }

    #imgWrap {
        top: 100px;
        left: -10%;
        width: 60%;
        height: 350px;
    }
}